@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the (event locations name) website</h1>
    <p>Here you can see what events are hapening </a>.</p>
</div>
