@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy policie is nog in de maak zodra de venue eigenaar deze klaar heeft zal deze pagina geupdate worden. Dank voor U geduld</p>
